@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;

  img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }

  .bottom-banner {
    padding: 1rem;
    background-color: rgb(11, 11, 11);
    text-align: left;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    z-index: 5;

    h5 {
      font-size: 1.1rem;
      margin: 0;
    }

    span {
      font-size: 0.9rem;
      color: #888;
    }

    #info-icon {
      transform: translateY(300%);
      transition: transform 0.1s ease-in-out;
    }
  }

  &:hover {
    #info-icon {
      transform: translateY(0);
    }

    img {
      transform: scale(1.03);
    }
  }
}

/* .reveal {
  animation-name: slideUpFade;
  animation-duration: 1s;
  animation-fill-mode: both; 
  animation-timing-function: ease-out;

  animation-timeline: view();
  animation-range: entry 0%;
} */
