nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
  padding: 5px 25px;
  transition: all 0.1s ease-in-out;

  &:hover {
    color: rgb(203, 203, 203);
  }
}
