#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

section {
  /* margin-bottom: 4rem; */
}

#about-image {
  border-radius: 50%;
  height: 300px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

/* Mobile */
@media (max-width: 768px) {
  .projects-container {
    grid-template-columns: 1fr;
  }

  #about {
    flex-direction: column;
    gap: 2rem;

    #about-image {
      height: 200px;
      width: 200px;
    }
  }
}
